.bar-container{
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  
  .bar-item {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    padding: .5rem .7rem;
    border-radius: 50%;;
  
    .bar-icon {
      color: black;
    }
   }
}



.theme-item {
  border-style: none;
}
