.bar-container{
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.bar-item{
  margin: 0 .2rem;
  padding: .1rem;
  border-radius: 50%;
  color: black;
  background-color: #b2bbc4;
}

.bar-icon{
  color: black;
}