.home-container{
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem; 
  height: 90%;

  div {
    h1{
      font-size: 2.17rem;
    }
    p{
      display: flex;
      justify-content: flex-end;
      font-size: .7rem;
      margin-top: -1.5rem;
    }

    @media screen and (min-width: 768px) {
      h1{
        font-size: 4rem;
      }
      p{
        font-size: 1rem;
        margin-top: -3rem;
      }
    }
  }

  p{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
