.bar-container{
  display: flex;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  
  .bar-item {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
    padding: .5rem .7rem;
    border-radius: 50%;
  
    .bar-icon {
      color: black;
    }
    .bar-title{
      display: none;
    }
    &:hover{
      flex-direction: column;
      .bar-title{
        position: absolute;
        display: block;
        top: 2.7rem;
      }
    }
   }
}



.theme-item {
  border-style: none;
}
